.Task {
    margin: 10px;
    padding: 5px;
    background-color: rgb(89, 158, 204);
}

.delete {
    background-color: rgb(248, 249, 252);
    border: 2px solid rgb(50, 21, 218) ;
    color: rgb(5, 2, 20);
    margin: 3px 5px;
    border-radius: 5px;
    padding: 5px;
}